In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import os
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pymongo
import re
import time

In [2]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [3]:
# Define database and collection
db = client.NavySchedule_db
collection = db.items

In [4]:
headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36'}
res = requests.get('https://navysports.com/schedule.aspx?path=wlax', headers=headers)
soup = bs(res.content, 'html.parser')
soup.find_all('span', class_='sidearm-schedule-game-opponent-name')

[<span class="sidearm-schedule-game-opponent-name">
 <a aria-label="#16 Virginia on February 9 1:00 p.m." href="http://virginiasports.com/" target="_blank">#16 Virginia</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="Saint Joseph's on February 17 1:00 p.m." href="http://www.sjuhawks.com/" target="_blank">Saint Joseph's</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="#19 Towson on February 23 3:00 p.m." href="http://www.towsontigers.com/" target="_blank">#19 Towson</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="Villanova on February 27 3:00 p.m." href="http://www.villanova.com/" target="_blank">Villanova</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="#11 Florida on March 2 11:00 a.m." href="http://www.floridagators.com/" target="_blank">#11 Florida</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="#1 Boston College on March 6 7:00 p.m." href="http://bceagles.com/" target="_blank">#1 Boston College</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="Brown on March 9 12:00 p.m." href="http://brownbears.com" target="_blank">Brown</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="Colgate on March 16 12:00 p.m." href="http://gocolgateraiders.com" target="_blank">Colgate</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="Bucknell on March 23 3:00 p.m." href="http://www.bucknellbison.com/" target="_blank">Bucknell</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="Lehigh on March 27 5:00 p.m." href="http://www.lehighsports.com" target="_blank">Lehigh</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="Holy Cross on March 30 12:00 p.m." href="http://goholycross.com" target="_blank">Holy Cross</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="#11 Loyola on April 6 3:00 p.m." href="http://www.loyolagreyhounds.com" target="_blank">#11 Loyola</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="#23 Georgetown on April 10 7:00 p.m." href="http://www.guhoyas.com/" target="_blank">#23 Georgetown</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="Army West Point on April 13 1:00 p.m." href="http://goarmywestpoint.com/" target="_blank">Army West Point</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="American on April 17 5:00 p.m." href="http://www.aueagles.com/" target="_blank">American</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="Lafayette on April 20 1:00 p.m." href="http://www.goleopards.com/" target="_blank">Lafayette</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="Boston University on April 25 4:00 p.m." href="http://www.goterriers.com/" target="_blank">Boston University</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="Army West Point on May 2 8:00 p.m." href="http://goarmywestpoint.com/" target="_blank">Army West Point</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="#11 Loyola on May 4 12:00 p.m." href="http://www.loyolagreyhounds.com" target="_blank">#11 Loyola</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="#24 High Point on May 10 7:00 p.m." href="http://www.highpointpanthers.com" target="_blank">#24 High Point</a>
 </span>, <span class="sidearm-schedule-game-opponent-name">
 <a aria-label="#6 Virginia on May 12 12:00 p.m." href="http://virginiasports.com/" target="_blank">#6 Virginia</a>
 </span>]

In [5]:
# Examine the results, then determine element that contains sought info
# results are returned as an iterable list
results = soup.find_all('span', class_='sidearm-schedule-game-opponent-name')

opponent = []

# Loop over td elements
for result in results:
            stuff = (result.a.text)
            clean_stuff= re.sub("\d", "",stuff)
            clean_stuff= re.sub("# ", "",clean_stuff)
            opponent.append(clean_stuff)

print(opponent)

['Virginia', "Saint Joseph's", 'Towson', 'Villanova', 'Florida', 'Boston College', 'Brown', 'Colgate', 'Bucknell', 'Lehigh', 'Holy Cross', 'Loyola', 'Georgetown', 'Army West Point', 'American', 'Lafayette', 'Boston University', 'Army West Point', 'Loyola', 'High Point', 'Virginia']

In [6]:
results2 = soup.find_all('span', class_='sidearm-schedule-game-conference-vs flex flex-inline')                                
  
home_away = []

# Loop over elements
for result2 in results2:
    if (result2.text):
            stuff = (result2.text)
            clean_stuff= re.sub("\n", "",stuff)
            home_away.append(clean_stuff)
            
print(home_away)

['at', 'vs', 'vs', 'at', 'vs', 'vs', 'vs', 'at', 'vs', 'at', 'vs', 'at', 'at', 'vs', 'vs', 'vs', 'at', 'vs', 'at', 'vs', 'at']

In [7]:
from datetime import datetime

results3 = soup.find_all('div', class_='sidearm-schedule-game-opponent-date flex-item-1')

period = []
day = []


# Loop over elements
for result3 in results3:
            stuff = ((result3.span.text)[0:3])
            clean_stuff = datetime.strptime(stuff,'%b')
            clean_stuff = clean_stuff.strftime('%m')
            period.append(clean_stuff)
            


            date_day = ((result3.span.text)[4:6])
            date_day = re.sub(" ", "",date_day)
            if len(date_day) == 1:
                date_day = "0" + date_day
            else:
                date_day = date_day
            day.append(date_day)   
            
print(period)          
print(day)

['02', '02', '02', '02', '03', '03', '03', '03', '03', '03', '03', '04', '04', '04', '04', '04', '04', '05', '05', '05', '05']
['09', '17', '23', '27', '02', '06', '09', '16', '23', '27', '30', '06', '10', '13', '17', '20', '25', '02', '04', '10', '12']

In [8]:
import numpy as np
url_list = pd.DataFrame(np.column_stack([opponent,home_away,period,day]), columns=['key','Home_Away','Period','Day'])
url_list

                  key Home_Away Period Day
0            Virginia        at     02  09
1      Saint Joseph's        vs     02  17
2              Towson        vs     02  23
3           Villanova        at     02  27
4             Florida        vs     03  02
5      Boston College        vs     03  06
6               Brown        vs     03  09
7             Colgate        at     03  16
8            Bucknell        vs     03  23
9              Lehigh        at     03  27
10         Holy Cross        vs     03  30
11             Loyola        at     04  06
12         Georgetown        at     04  10
13    Army West Point        vs     04  13
14           American        vs     04  17
15          Lafayette        vs     04  20
16  Boston University        at     04  25
17    Army West Point        vs     05  02
18             Loyola        at     05  04
19         High Point        vs     05  10
20           Virginia        at     05  12

In [9]:
# The path to our CSV file
file = "SystemSchool.csv"

# Read our Kickstarter data into pandas
df = pd.read_csv(file)
df.head()

              key CONFERENCE      SystemName
0        Maryland    Big Ten        maryland
1  Boston College        ACC  boston-college
2  North Carolina        ACC  north-carolina
3    Northwestern    Big Ten    northwestern
4        Syracuse        ACC        syracuse

In [10]:
new_df = url_list.set_index('key').join(df.set_index('key'))

new_df = new_df.reset_index()

new_df = new_df.rename_axis("game_id")

new_df

                       key Home_Away Period Day   CONFERENCE       SystemName
game_id
0                 American        vs     04  17      Patriot         american
1          Army West Point        vs     04  13      Patriot             army
2          Army West Point        vs     05  02      Patriot             army
3           Boston College        vs     03  06          ACC   boston-college
4        Boston University        at     04  25      Patriot         boston-u
5                    Brown        vs     03  09   Ivy League            brown
6                 Bucknell        vs     03  23      Patriot         bucknell
7                  Colgate        at     03  16      Patriot          colgate
8                  Florida        vs     03  02          AAC          florida
9               Georgetown        at     04  10     Big East       georgetown
10              High Point        vs     05  10    Big South       high-point
11              Holy Cross        vs     03  30      Patriot       holy-cross
12               Lafayette        vs     04  20      Patriot        lafayette
13                  Lehigh        at     03  27      Patriot           lehigh
14                  Loyola        at     04  06      Patriot  loyola-maryland
15                  Loyola        at     05  04      Patriot  loyola-maryland
16          Saint Joseph's        vs     02  17  Atlantic 10    saint-josephs
17                  Towson        vs     02  23          CAA           towson
18               Villanova        at     02  27     Big East        villanova
19                Virginia        at     02  09          ACC         virginia
20                Virginia        at     05  12          ACC         virginia

In [11]:
base = 'https://www.ncaa.com/game/lacrosse-women/d1/2019/'
p = '/play-by-play'
np = '-navy/play-by-play'

url_dict = []
    
for index, row in new_df.iterrows():
    if row['Home_Away'] == 'at':
        url = base + row['Period'] + '/' + row['Day'] + '/navy-' +  row['SystemName'] + p
        url_dict.append(url)
    else:
        url = base + row['Period'] + '/' + row['Day'] + '/' +  row['SystemName'] + np
        url_dict.append(url)

url_df = pd.DataFrame({"url_list": url_dict})
url_df




box_p = '/boxscore'
box_np = '-navy/boxscore'

box_url_dict = []
    
for index, row in new_df.iterrows():
    if row['Home_Away'] == 'at':
        url = base + row['Period'] + '/' + row['Day'] + '/navy-' +  row['SystemName'] + box_p
        box_url_dict.append(url)
    else:
        url = base + row['Period'] + '/' + row['Day'] + '/' +  row['SystemName'] + box_np
        box_url_dict.append(url)

box_url_df = pd.DataFrame({"url_list": box_url_dict})
box_url_df

                                             url_list
0   https://www.ncaa.com/game/lacrosse-women/d1/20...
1   https://www.ncaa.com/game/lacrosse-women/d1/20...
2   https://www.ncaa.com/game/lacrosse-women/d1/20...
3   https://www.ncaa.com/game/lacrosse-women/d1/20...
4   https://www.ncaa.com/game/lacrosse-women/d1/20...
5   https://www.ncaa.com/game/lacrosse-women/d1/20...
6   https://www.ncaa.com/game/lacrosse-women/d1/20...
7   https://www.ncaa.com/game/lacrosse-women/d1/20...
8   https://www.ncaa.com/game/lacrosse-women/d1/20...
9   https://www.ncaa.com/game/lacrosse-women/d1/20...
10  https://www.ncaa.com/game/lacrosse-women/d1/20...
11  https://www.ncaa.com/game/lacrosse-women/d1/20...
12  https://www.ncaa.com/game/lacrosse-women/d1/20...
13  https://www.ncaa.com/game/lacrosse-women/d1/20...
14  https://www.ncaa.com/game/lacrosse-women/d1/20...
15  https://www.ncaa.com/game/lacrosse-women/d1/20...
16  https://www.ncaa.com/game/lacrosse-women/d1/20...
17  https://www.ncaa.com/game/lacrosse-women/d1/20...
18  https://www.ncaa.com/game/lacrosse-women/d1/20...
19  https://www.ncaa.com/game/lacrosse-women/d1/20...
20  https://www.ncaa.com/game/lacrosse-women/d1/20...

In [12]:
#import mysql.connector
from sqlalchemy import create_engine
from sqlalchemy.orm import Session

engine = create_engine('sqlite:///urldb', echo=False)
url_df.to_sql(name='sample_table2', con=engine, if_exists = 'replace', index=False)

In [13]:
session = Session(engine)
test = session.execute("select * from sample_table2")

result_proxy = test.fetchall()

#create list of urls
game_urls = []



for row in result_proxy:
    game_url = dict(row.items())
    print(game_url)
    game_urls.append(game_url["url_list"])

{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/04/17/american-navy/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/04/13/army-navy/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/05/02/army-navy/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/06/boston-college-navy/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/04/25/navy-boston-u/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/09/brown-navy/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/23/bucknell-navy/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/16/navy-colgate/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/02/florida-navy/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/04/10/navy-georgetown/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/05/10/high-point-navy/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/30/holy-cross-navy/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/04/20/lafayette-navy/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/27/navy-lehigh/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/04/06/navy-loyola-maryland/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/05/04/navy-loyola-maryland/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/02/17/saint-josephs-navy/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/02/23/towson-navy/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/02/27/navy-villanova/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/02/09/navy-virginia/play-by-play'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/05/12/navy-virginia/play-by-play'}

In [14]:
#import mysql.connector
from sqlalchemy import create_engine
from sqlalchemy.orm import Session

engine = create_engine('sqlite:///urldb', echo=False)
box_url_df.to_sql(name='sample_table3', con=engine, if_exists = 'replace', index=False)

In [15]:

session = Session(engine)
test = session.execute("select * from sample_table3")

result_proxy = test.fetchall()

#create list of urls
box_game_urls = []



for row in result_proxy:
    box_game_url = dict(row.items())
    print(box_game_url)
    box_game_urls.append(box_game_url["url_list"])

{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/04/17/american-navy/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/04/13/army-navy/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/05/02/army-navy/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/06/boston-college-navy/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/04/25/navy-boston-u/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/09/brown-navy/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/23/bucknell-navy/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/16/navy-colgate/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/02/florida-navy/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/04/10/navy-georgetown/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/05/10/high-point-navy/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/30/holy-cross-navy/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/04/20/lafayette-navy/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/03/27/navy-lehigh/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/04/06/navy-loyola-maryland/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/05/04/navy-loyola-maryland/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/02/17/saint-josephs-navy/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/02/23/towson-navy/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/02/27/navy-villanova/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/02/09/navy-virginia/boxscore'}
{'url_list': 'https://www.ncaa.com/game/lacrosse-women/d1/2019/05/12/navy-virginia/boxscore'}

In [16]:
## Now time for the web scraping of the box scores and play by play

In [17]:
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [18]:
print("Number of box score urls")
print(len(box_game_urls))
print("Number of play by play urls")
print(len(game_urls))

Number of box score urls
21
Number of play by play urls
21

In [19]:
game_id = 0

season_stats_df = pd.DataFrame(columns=['No', 'Name', 'POS', 'G', 'A', 'SH', 'SOG', 'GB','game_id', 'team'])
season_goalies_stats_df = pd.DataFrame(columns=['Goalies', 'POS', 'MIN', 'SAVES', 'GA', 'game_id', 'team'])
# Go to NCAA Boxscore through splinter module

for i in range(len(box_game_urls)):
        try:
            score_url = box_game_urls[i]
            browser.visit(score_url)

            html = browser.html
            soup = BeautifulSoup(html, 'lxml')
        
        
            away_tables = pd.read_html(html)
            away_team_selector = soup.find("div", {"class": "boxscore-team-selector-team awayTeam-bg-primary_color homeTeam-border-primary_color away active"})
            away_box_table = away_tables[1]
            away_goalies_box_table = away_tables[2]
            away_box_table['game_id'] = game_id
            away_box_table['team'] = away_team_selector.text
            away_goalies_box_table['game_id'] = game_id
            away_goalies_box_table['team'] = away_team_selector.text
        
        
            team_selectors = soup.find("div", {"class": "boxscore-team-selector"})
            xpath = '//div[@class="boxscore-team-selector-team homeTeam-bg-primary_color awayTeam-border-primary_color home"]'
            browser.find_by_xpath(xpath).click()
            html = browser.html
        
            home_tables = pd.read_html(html)
            home_team_selector = soup.find("div", {"class": "boxscore-team-selector-team homeTeam-bg-primary_color awayTeam-border-primary_color home"})
            home_box_table = home_tables[1]
            home_goalies_box_table = home_tables[2]
            home_box_table['game_id'] = game_id
            home_box_table['team'] = home_team_selector.text
            home_goalies_box_table['game_id'] = game_id
            home_goalies_box_table['team'] = home_team_selector.text

            season_stats_df = season_stats_df.append(away_box_table, sort=True)
            season_stats_df = season_stats_df.append(home_box_table, sort=True)
            season_goalies_stats_df = season_goalies_stats_df.append(away_goalies_box_table, sort=True)
            season_goalies_stats_df = season_goalies_stats_df.append(home_goalies_box_table, sort=True)
            game_id = game_id+1
         
        except:
            print(f"box score not retrievable for: {score_url}")
            pass

box score not retrievable for: https://www.ncaa.com/game/lacrosse-women/d1/2019/05/10/high-point-navy/boxscore
box score not retrievable for: https://www.ncaa.com/game/lacrosse-women/d1/2019/05/12/navy-virginia/boxscore

In [20]:
season_stats_df = season_stats_df.replace('\n','', regex=True)
season_goalies_stats_df = season_goalies_stats_df.replace('\n','', regex=True)

In [21]:
season_stats_df.head()

   A  G  GB               Name  No POS  SH  SOG  game_id      team
0  1  1   0      CASEY HARKINS   3   M   3    2        0  American
1  0  3   0   KENDALL GOLDBLUM  18   M   4    4        0  American
2  0  1   3      AMANDA MEDJID  31   M   5    5        0  American
3  0  0   3        FIONA GEIER  17  GK   0    0        0  American
4  0  0   0  C AGUILAR-GERVASE   6   D   0    0        0  American

In [22]:
season_goalies_stats_df.head()

   GA           Goalies  MIN    POS  SAVES  game_id      team
0  16       FIONA GEIER  NaN     GK      9        0  American
1   4  DELANEY OLIVEIRA  NaN    NaN      0        0  American
2  20             Total  NaN  Total      9        0  American
0   3   GAB HARCHELROAD  NaN     GK      3        0      Navy
1   1   LINDSEY ELLISON  NaN    NaN      0        0      Navy

In [23]:
game_id = 0
season_play_by_play_df = pd.DataFrame(columns=['description', 'score', 'team', 'time','game_id'])

# Go to NCAA Play by play  through splinter module

for i in range(len(box_game_urls)):
    score_url = game_urls[i]
    browser.visit(score_url)
    html = browser.html
    #response = requests.get(url)
    soup = BeautifulSoup(html, 'lxml')
    all_rows = soup.find_all('tr')
    df_data = []
    for row in all_rows:
        try:
            img = row.find(class_="team")
            df_data.append({
                "time": row.find(class_="time").text,
                "team": img.find("img")["title"],
                "score": row.find(class_="score").text,
                "description": row.find(class_="description").text,
                "game_id": game_id
            })
            #print(row.find(class_="time").text)
            #print(img.find("img")["title"])
            #print(row.find(class_="score").text)
            #print(row.find(class_="description").text)
        except:
            #print(f"play by play not found {score_url}")
            pass
    game_id = game_id+1
    play_table_df = pd.DataFrame(df_data)
    season_play_by_play_df = season_play_by_play_df.append(play_table_df, sort=True)

In [24]:
season_play_by_play_df = season_play_by_play_df.replace('\n','', regex=True)

In [26]:
#join with schedule data for more complete dataset
season_play_by_play_df = season_play_by_play_df.join(new_df, on='game_id')

In [31]:
season_play_by_play_df.head(50)

,description,game_id,score,team,time,key,Home_Away,Period,Day,CONFERENCE,SystemName
0,"Geier, Fiona at goalie for AU.",0,,American,30:00,American,vs,04,17,Patriot,american
1,"Harchelroad, Gab at goalie for NAVY.",0,,Navy,30:00,American,vs,04,17,Patriot,american
2,"Draw control by AU Goldblum, Kendall.",0,,American,00:00,American,vs,04,17,Patriot,american
3,"Turnover by AU Jade, Izabella (caused by Heywa...",0,,American,29:26,American,vs,04,17,Patriot,american
4,"Ground ball pickup by NAVY Heyward, Annalise.",0,,Navy,29:23,American,vs,04,17,Patriot,american
5,Clear attempt by NAVY good.,0,,Navy,29:09,American,vs,04,17,Patriot,american
6,"GOAL by NAVY Victory, Nicole (FIRST GOAL), Ass...",0,0-1,Navy,28:56,American,vs,04,17,Patriot,american
7,"Draw control by NAVY Roelofs, Reagan.",0,,Navy,00:00,American,vs,04,17,Patriot,american
8,"GOAL by NAVY O'Sullivan, Andie, Assist by Heyw...",0,0-2,Navy,28:29,American,vs,04,17,Patriot,american
9,"Draw control by NAVY Harris, Kayla.",0,,Navy,00:00,American,vs,04,17,Patriot,american
10,"Foul on AU Brennan, Leah.",0,,American,00:00,American,vs,04,17,Patriot,american
11,"Shot by NAVY Harris, Kayla, SAVE Geier, Fiona.",0,,Navy,27:33,American,vs,04,17,Patriot,american
12,"GOAL by NAVY Larkin, Kelly, Assist by Victory,...",0,0-3,Navy,27:25,American,vs,04,17,Patriot,american
13,"Draw control by NAVY Harris, Kayla.",0,,Navy,00:00,American,vs,04,17,Patriot,american
14,"GOAL by NAVY O'Sullivan, Andie, Assist by Vict...",0,0-4,Navy,27:00,American,vs,04,17,Patriot,american
15,Timeout by AU.,0,,American,27:00,American,vs,04,17,Patriot,american
16,"Draw control by NAVY Roelofs, Reagan.",0,,Navy,00:00,American,vs,04,17,Patriot,american
17,"Shot by NAVY Heyward, Annalise WIDE.",0,,Navy,26:20,American,vs,04,17,Patriot,american
18,"Foul on AU Aguilar-Gervase, C..",0,,American,00:00,American,vs,04,17,Patriot,american
19,Free position attempt for NAVY.,0,,Navy,26:20,American,vs,04,17,Patriot,american
20,"GOAL by NAVY Heyward, Annalise (FPGOAL) {free ...",0,0-5,Navy,26:18,American,vs,04,17,Patriot,american
21,"Draw control by NAVY Roelofs, Reagan.",0,,Navy,00:00,American,vs,04,17,Patriot,american
22,"Foul on AU Goldblum, Kendall.",0,,American,00:00,American,vs,04,17,Patriot,american
23,"GOAL by NAVY Harris, Kayla, goal number 30 for...",0,0-6,Navy,25:27,American,vs,04,17,Patriot,american
24,"Draw control by NAVY Roelofs, Reagan.",0,,Navy,00:00,American,vs,04,17,Patriot,american
25,"Shot by NAVY Victory, Nicole HIGH.",0,,Navy,25:21,American,vs,04,17,Patriot,american
26,"Turnover by NAVY Larkin, Kelly (caused by Agui...",0,,Navy,25:11,American,vs,04,17,Patriot,american
27,"Ground ball pickup by AU Geier, Fiona.",0,,American,25:08,American,vs,04,17,Patriot,american
28,Clear attempt by AU good.,0,,American,24:52,American,vs,04,17,Patriot,american
29,"Turnover by AU Stapleton, Brooke.",0,,American,24:36,American,vs,04,17,Patriot,american
30,"Ground ball pickup by NAVY Harchelroad, Gab.",0,,Navy,24:27,American,vs,04,17,Patriot,american
31,Clear attempt by NAVY good.,0,,Navy,24:16,American,vs,04,17,Patriot,american
32,"Shot by NAVY Roelofs, Reagan, SAVE Geier, Fiona.",0,,Navy,23:56,American,vs,04,17,Patriot,american
33,"Ground ball pickup by AU Geier, Fiona.",0,,American,23:50,American,vs,04,17,Patriot,american
34,Clear attempt by AU failed.,0,,American,23:26,American,vs,04,17,Patriot,american
35,"Turnover by AU Jade, Izabella (caused by Victo...",0,,American,23:24,American,vs,04,17,Patriot,american
36,"Ground ball pickup by NAVY Victory, Nicole.",0,,Navy,23:13,American,vs,04,17,Patriot,american
37,"Foul on AU Aguilar-Gervase, C..",0,,American,00:00,American,vs,04,17,Patriot,american
38,Free position attempt for NAVY.,0,,Navy,22:54,American,vs,04,17,Patriot,american
39,"GOAL by NAVY Larkin, Kelly (FPGOAL) {free posi...",0,0-7,Navy,22:51,American,vs,04,17,Patriot,american
40,"Draw control by NAVY Roelofs, Reagan.",0,,Navy,00:00,American,vs,04,17,Patriot,american
41,"Shot by NAVY Heyward, Annalise WIDE.",0,,Navy,22:37,American,vs,04,17,Patriot,american
42,"Ground ball pickup by NAVY Victory, Nicole.",0,,Navy,22:34,American,vs,04,17,Patriot,american
43,"Shot by NAVY O'Sullivan, Andie, SAVE Geier, Fi...",0,,Navy,22:12,American,vs,04,17,Patriot,american
44,"Ground ball pickup by AU Geier, Fiona.",0,,American,22:09,American,vs,04,17,Patriot,american
45,"Foul on NAVY O'Sullivan, Andie.",0,,Navy,00:00,American,vs,04,17,Patriot,american
46,Clear attempt by AU good.,0,,American,21:42,American,vs,04,17,Patriot,american
47,"Foul on NAVY Bell, Alexis.",0,,Navy,00:00,American,vs,04,17,Patriot,american
48,"Shot by AU Vinall, Emma WIDE.",0,,American,21:24,American,vs,04,17,Patriot,american
49,"Shot by AU Brennan, Leah HIGH.",0,,American,20:46,American,vs,04,17,Patriot,american

In [27]:
#test sample recall of play by play for single game by game id
print(season_play_by_play_df.loc[season_play_by_play_df['game_id'] ==5])

                                           description  game_id  score   team  \
0                     Tucker, Erin at goalie for BRWN.        5         Brown
1                 Harchelroad, Gab at goalie for NAVY.        5          Navy
2                Draw control by NAVY Roelofs, Reagan.        5          Navy
3      Shot by NAVY Snyder, Moriah, SAVE Tucker, Erin.        5          Navy
4                          Clear attempt by BRWN good.        5         Brown
5    GOAL by BRWN Parisella, Alaina (FIRST GOAL), A...        5    1-0  Brown
6                Draw control by NAVY Roelofs, Reagan.        5          Navy
7    GOAL by NAVY O'Sullivan, Andie, goal number 10...        5    1-1   Navy
8                Draw control by NAVY Roelofs, Reagan.        5          Navy
9                      Foul on BRWN Parisella, Alaina.        5         Brown
10                    Turnover by NAVY Irwin, Natalie.        5          Navy
11            Ground ball pickup by BRWN Tucker, Erin.        5         Brown
12                         Clear attempt by BRWN good.        5         Brown
13   GOAL by BRWN Mosenthal, Risa, goal number 23 f...        5    2-1  Brown
14               Draw control by BRWN Jeschke, Claire.        5         Brown
15                         Clear attempt by BRWN good.        5         Brown
16   Turnover by BRWN Parisella, Alaina (caused by ...        5         Brown
17           Ground ball pickup by NAVY Harris, Kayla.        5          Navy
18                         Clear attempt by NAVY good.        5          Navy
19      Shot by NAVY Larkin, Kelly, SAVE Tucker, Erin.        5          Navy
20                         Clear attempt by BRWN good.        5         Brown
21                        Foul on NAVY Downey, Hannah.        5          Navy
22                Shot by BRWN Parisella, Alaina WIDE.        5         Brown
23                        Foul on NAVY Valenti, Marie.        5          Navy
24                     Free position attempt for BRWN.        5         Brown
25   GOAL by BRWN DeGennaro, Emma (FPGOAL) {free po...        5    3-1  Brown
26               Draw control by NAVY Roelofs, Reagan.        5          Navy
27                Shot by NAVY Heyward, Annalise WIDE.        5          Navy
28                       Foul on BRWN Plassche, Grace.        5         Brown
29                     Free position attempt for NAVY.        5          Navy
..                                                 ...      ...    ...    ...
262  Shot by NAVY Heyward, Annalise WIDE {free posi...        5          Navy
263                 Shot by NAVY Victory, Nicole WIDE.        5          Navy
264                Turnover by NAVY O'Sullivan, Andie.        5          Navy
265        Ground ball pickup by BRWN Pidedjian, Ally.        5         Brown
266                        Clear attempt by BRWN good.        5         Brown
267                    Foul on NAVY O'Sullivan, Andie.        5          Navy
268       Shot by BRWN Williams, KC, SAVE Young, Abbi.        5         Brown
269                        Clear attempt by NAVY good.        5          Navy
270                        Foul on BRWN Schafer, Erin.        5         Brown
271     Shot by NAVY Larkin, Kelly, SAVE Tucker, Erin.        5          Navy
272                        Clear attempt by BRWN good.        5         Brown
273                    Shot by BRWN Williams, KC WIDE.        5         Brown
274                        Clear attempt by NAVY good.        5          Navy
275  GOAL by NAVY Victory, Nicole, Assist by Snyder...        5  11-17   Navy
276              Draw control by BRWN Jeschke, Claire.        5         Brown
277                        Foul on NAVY Harris, Kayla.        5          Navy
278                    Foul on NAVY O'Sullivan, Andie.        5          Navy
279  Turnover by BRWN Verni, Zoe (caused by Young, ...        5         Brown
280                        Clear attempt by NAVY good.        5          Navy
281  Shot by NAVY Heyward, Annalise, SAVE Tucker, E...        5          Navy
282                        Foul on BRWN Schafer, Erin.        5         Brown
283                    Free position attempt for NAVY.        5          Navy
284  Shot by NAVY O'Sullivan, Andie BLOCKED {free p...        5          Navy
285           Ground ball pickup by BRWN Tucker, Erin.        5         Brown
286                        Clear attempt by BRWN good.        5         Brown
287  GOAL by BRWN Pidedjian, Ally, Assist by Parise...        5  12-17  Brown
288              Draw control by NAVY Roelofs, Reagan.        5          Navy
289                   Shot by NAVY Harris, Kayla HIGH.        5          Navy
290  GOAL by NAVY Larkin, Kelly, Assist by Lazaride...        5  12-18   Navy
291            Draw control by NAVY Heyward, Annalise.        5          Navy

      time    key Home_Away Period Day  CONFERENCE SystemName
0    30:00  Brown        vs     03  09  Ivy League      brown
1    30:00  Brown        vs     03  09  Ivy League      brown
2    00:00  Brown        vs     03  09  Ivy League      brown
3    29:28  Brown        vs     03  09  Ivy League      brown
4    28:43  Brown        vs     03  09  Ivy League      brown
5    28:38  Brown        vs     03  09  Ivy League      brown
6    00:00  Brown        vs     03  09  Ivy League      brown
7    27:58  Brown        vs     03  09  Ivy League      brown
8    00:00  Brown        vs     03  09  Ivy League      brown
9    00:00  Brown        vs     03  09  Ivy League      brown
10   27:36  Brown        vs     03  09  Ivy League      brown
11   27:34  Brown        vs     03  09  Ivy League      brown
12   27:27  Brown        vs     03  09  Ivy League      brown
13   27:07  Brown        vs     03  09  Ivy League      brown
14   00:00  Brown        vs     03  09  Ivy League      brown
15   26:44  Brown        vs     03  09  Ivy League      brown
16   26:22  Brown        vs     03  09  Ivy League      brown
17   26:19  Brown        vs     03  09  Ivy League      brown
18   26:06  Brown        vs     03  09  Ivy League      brown
19   25:27  Brown        vs     03  09  Ivy League      brown
20   25:14  Brown        vs     03  09  Ivy League      brown
21   00:00  Brown        vs     03  09  Ivy League      brown
22   24:40  Brown        vs     03  09  Ivy League      brown
23   00:00  Brown        vs     03  09  Ivy League      brown
24   24:09  Brown        vs     03  09  Ivy League      brown
25   24:07  Brown        vs     03  09  Ivy League      brown
26   00:00  Brown        vs     03  09  Ivy League      brown
27   23:43  Brown        vs     03  09  Ivy League      brown
28   00:00  Brown        vs     03  09  Ivy League      brown
29   23:34  Brown        vs     03  09  Ivy League      brown
..     ...    ...       ...    ...  ..         ...        ...
262  08:33  Brown        vs     03  09  Ivy League      brown
263  08:19  Brown        vs     03  09  Ivy League      brown
264  07:48  Brown        vs     03  09  Ivy League      brown
265  07:45  Brown        vs     03  09  Ivy League      brown
266  07:39  Brown        vs     03  09  Ivy League      brown
267  00:00  Brown        vs     03  09  Ivy League      brown
268  07:12  Brown        vs     03  09  Ivy League      brown
269  07:01  Brown        vs     03  09  Ivy League      brown
270  00:00  Brown        vs     03  09  Ivy League      brown
271  06:43  Brown        vs     03  09  Ivy League      brown
272  06:28  Brown        vs     03  09  Ivy League      brown
273  05:46  Brown        vs     03  09  Ivy League      brown
274  05:23  Brown        vs     03  09  Ivy League      brown
275  04:47  Brown        vs     03  09  Ivy League      brown
276  00:00  Brown        vs     03  09  Ivy League      brown
277  00:00  Brown        vs     03  09  Ivy League      brown
278  00:00  Brown        vs     03  09  Ivy League      brown
279  04:20  Brown        vs     03  09  Ivy League      brown
280  03:46  Brown        vs     03  09  Ivy League      brown
281  03:10  Brown        vs     03  09  Ivy League      brown
282  00:00  Brown        vs     03  09  Ivy League      brown
283  02:00  Brown        vs     03  09  Ivy League      brown
284  01:58  Brown        vs     03  09  Ivy League      brown
285  01:55  Brown        vs     03  09  Ivy League      brown
286  01:46  Brown        vs     03  09  Ivy League      brown
287  01:42  Brown        vs     03  09  Ivy League      brown
288  00:00  Brown        vs     03  09  Ivy League      brown
289  00:46  Brown        vs     03  09  Ivy League      brown
290  00:30  Brown        vs     03  09  Ivy League      brown
291  00:00  Brown        vs     03  09  Ivy League      brown

[292 rows x 11 columns]

In [28]:
season_stats_df = season_stats_df.join(new_df, on='game_id')
season_goalies_stats_df = season_goalies_stats_df.join(new_df, on='game_id')

In [29]:
#test sample recall of box score for single game by game id

print(season_stats_df.loc[season_stats_df['game_id'] ==17])

    A  G  GB               Name  No  POS  SH  SOG  game_id       team     key  \
0   0  2   1      NATALIE IRWIN   5    M   3    3       17       Navy  Towson
1   2  1   2   ANNALISE HEYWARD  14    M   5    4       17       Navy  Towson
2   1  2   3      MORIAH SNYDER  22    M   2    2       17       Navy  Towson
3   1  0   0       KAYLA HARRIS  25    M   0    0       17       Navy  Towson
4   1  1   2   ANDIE O'SULLIVAN  30    M   5    2       17       Navy  Towson
5   0  0   0     REAGAN ROELOFS  50    M   0    0       17       Navy  Towson
6   0  0   1    GAB HARCHELROAD  39   GK   0    0       17       Navy  Towson
7   0  0   2      MARIE VALENTI   8    D   0    0       17       Navy  Towson
8   0  0   0      CAROLINE KWON  13    D   0    0       17       Navy  Towson
9   0  0   3       ANNE RICHTER  19    D   0    0       17       Navy  Towson
10  0  0   0            GIL EBY   2    A   0    0       17       Navy  Towson
11  2  6   2       KELLY LARKIN   7    A  10    7       17       Navy  Towson
12  0  0   0         LOGAN BOOK   9  NaN   0    0       17       Navy  Towson
13  0  0   0      HANNAH DOWNEY  11  NaN   0    0       17       Navy  Towson
14  0  1   1    CAITLIN BLANCHE  18  NaN   4    2       17       Navy  Towson
15  1  1   0   MARINA LAZARIDES  20  NaN   2    2       17       Navy  Towson
16  0  0   0     KAROLINE NEASE  21  NaN   0    0       17       Navy  Towson
17  0  0   0       ELLIE LECKER  23  NaN   0    0       17       Navy  Towson
18  0  0   0       HAILEY HARMS  28  NaN   0    0       17       Navy  Towson
19  0  0   0      KASEY DIETZEL  32  NaN   0    0       17       Navy  Towson
20  0  0   0    CHRISTINE FIORE  33  NaN   0    0       17       Navy  Towson
21  0  0   0         ABBI YOUNG  41  NaN   0    0       17       Navy  Towson
22  0  0   0   CAROLINE PEPPARD  43  NaN   0    0       17       Navy  Towson
23  0  0   0     NICOLE VICTORY  44  NaN   0    0       17       Navy  Towson
24  0  0   0        ALEXIS BELL  47  NaN   0    0       17       Navy  Towson
0   0  0   0       CARLYE MAITA   1    M   2    1       17  Villanova  Towson
1   0  1   0    DEVIN HASSINGER   9    M   2    1       17  Villanova  Towson
2   0  1   2    MAGGIE JENNINGS  16    M   2    2       17  Villanova  Towson
3   0  0   0    GRAINGER ROSATI  24    M   1    0       17  Villanova  Towson
4   0  0   2         ALEXA MORO  54   GK   0    0       17  Villanova  Towson
5   0  0   4       SYDNEY FRANK  11    D   0    0       17  Villanova  Towson
6   0  0   2     MAGGIE O'NEILL  12    D   0    0       17  Villanova  Towson
7   0  0   1        JULIA ARRIX  22    D   0    0       17  Villanova  Towson
8   0  0   3     KELSEY MENTZER  28    D   0    0       17  Villanova  Towson
9   0  0   0         LIZ TROJAN  20    A   1    1       17  Villanova  Towson
10  1  2   0    KATIE COMERFORD  29    A   4    2       17  Villanova  Towson
11  1  1   1       ASHLEY LYNCH  39    A   3    3       17  Villanova  Towson
12  0  0   1         NICOLE LEE  10  NaN   0    0       17  Villanova  Towson
13  0  0   0      KIM MCDONOUGH  13  NaN   0    0       17  Villanova  Towson
14  0  0   2      LIBBY MCKENNA  14  NaN   0    0       17  Villanova  Towson
15  0  0   0  OLIVIA FARRINGTON  18  NaN   0    0       17  Villanova  Towson
16  0  0   0   OLIVIA GONSALVES  30  NaN   0    0       17  Villanova  Towson
17  0  0   0        DEVON BROWN  35  NaN   0    0       17  Villanova  Towson
18  0  0   0     ALEXA TSAHALIS  36  NaN   0    0       17  Villanova  Towson
19  0  1   0   NICOLE CONCANNON  37  NaN   2    1       17  Villanova  Towson
20  0  0   1     BRITTANY BRUNO  40  NaN   0    0       17  Villanova  Towson

   Home_Away Period Day CONFERENCE SystemName
0         vs     02  23        CAA     towson
1         vs     02  23        CAA     towson
2         vs     02  23        CAA     towson
3         vs     02  23        CAA     towson
4         vs     02  23        CAA     towson
5         vs     02  23        CAA     towson
6         vs     02  23        CAA     towson
7         vs     02  23        CAA     towson
8         vs     02  23        CAA     towson
9         vs     02  23        CAA     towson
10        vs     02  23        CAA     towson
11        vs     02  23        CAA     towson
12        vs     02  23        CAA     towson
13        vs     02  23        CAA     towson
14        vs     02  23        CAA     towson
15        vs     02  23        CAA     towson
16        vs     02  23        CAA     towson
17        vs     02  23        CAA     towson
18        vs     02  23        CAA     towson
19        vs     02  23        CAA     towson
20        vs     02  23        CAA     towson
21        vs     02  23        CAA     towson
22        vs     02  23        CAA     towson
23        vs     02  23        CAA     towson
24        vs     02  23        CAA     towson
0         vs     02  23        CAA     towson
1         vs     02  23        CAA     towson
2         vs     02  23        CAA     towson
3         vs     02  23        CAA     towson
4         vs     02  23        CAA     towson
5         vs     02  23        CAA     towson
6         vs     02  23        CAA     towson
7         vs     02  23        CAA     towson
8         vs     02  23        CAA     towson
9         vs     02  23        CAA     towson
10        vs     02  23        CAA     towson
11        vs     02  23        CAA     towson
12        vs     02  23        CAA     towson
13        vs     02  23        CAA     towson
14        vs     02  23        CAA     towson
15        vs     02  23        CAA     towson
16        vs     02  23        CAA     towson
17        vs     02  23        CAA     towson
18        vs     02  23        CAA     towson
19        vs     02  23        CAA     towson
20        vs     02  23        CAA     towson

In [30]:
#test sample recall of goalies box score for single game by game id

print(season_goalies_stats_df.loc[season_goalies_stats_df['game_id'] ==12])

   GA          Goalies  MIN    POS  SAVES  game_id    team        key  \
0   5  GAB HARCHELROAD  NaN     GK      4       12    Navy  Lafayette
1   0  LINDSEY ELLISON  NaN    NaN      0       12    Navy  Lafayette
2   1       ABBI YOUNG  NaN    NaN      2       12    Navy  Lafayette
3   6            Total  NaN  Total      6       12    Navy  Lafayette
0  17    SAMANTHA SAGI  NaN     GK      8       12  Lehigh  Lafayette
1   2  CLAUDIA HANOVER  NaN    NaN      0       12  Lehigh  Lafayette
2   4     KERRY MCHUGH  NaN    NaN      0       12  Lehigh  Lafayette
3  23            Total  NaN  Total      8       12  Lehigh  Lafayette

  Home_Away Period Day CONFERENCE SystemName
0        vs     04  20    Patriot  lafayette
1        vs     04  20    Patriot  lafayette
2        vs     04  20    Patriot  lafayette
3        vs     04  20    Patriot  lafayette
0        vs     04  20    Patriot  lafayette
1        vs     04  20    Patriot  lafayette
2        vs     04  20    Patriot  lafayette
3        vs     04  20    Patriot  lafayette

In [32]:
#dump all of the data into mySQL

#import mysql.connector
from sqlalchemy import create_engine
from sqlalchemy.orm import Session

engine = create_engine('sqlite:///urldb', echo=False)


season_play_by_play_df.to_sql(name='season_play_by_play', con=engine, if_exists = 'replace', index=False)
season_stats_df.to_sql(name='season_stats', con=engine, if_exists = 'replace', index=False)
season_goalies_stats_df.to_sql(name='season_goalies_stats', con=engine, if_exists = 'replace', index=False)

In [33]:
#test the mySQL
session = Session(engine)
test = session.execute("select * from season_goalies_stats")

result_proxy = test.fetchall()

print(result_proxy)

[(16, 'FIONA GEIER', None, 'GK', 9, 0, 'American', 'American', 'vs', '04', '17', 'Patriot', 'american'), (4, 'DELANEY OLIVEIRA', None, None, 0, 0, 'American', 'American', 'vs', '04', '17', 'Patriot', 'american'), (20, 'Total', None, 'Total', 9, 0, 'American', 'American', 'vs', '04', '17', 'Patriot', 'american'), (3, 'GAB HARCHELROAD', None, 'GK', 3, 0, 'Navy', 'American', 'vs', '04', '17', 'Patriot', 'american'), (1, 'LINDSEY ELLISON', None, None, 0, 0, 'Navy', 'American', 'vs', '04', '17', 'Patriot', 'american'), (2, 'ANNIE MALONEY', None, None, 1, 0, 'Navy', 'American', 'vs', '04', '17', 'Patriot', 'american'), (3, 'MADDY BELL', None, None, 2, 0, 'Navy', 'American', 'vs', '04', '17', 'Patriot', 'american'), (1, 'ABBI YOUNG', None, None, 5, 0, 'Navy', 'American', 'vs', '04', '17', 'Patriot', 'american'), (10, 'Total', None, 'Total', 11, 0, 'Navy', 'American', 'vs', '04', '17', 'Patriot', 'american'), (12, 'MADDIE BURNS', None, 'GK', 5, 1, 'Army', 'Army West Point', 'vs', '04', '13', 'Patriot', 'army'), (9, 'HANNAH SLOMKOWSKI', None, None, 0, 1, 'Army', 'Army West Point', 'vs', '04', '13', 'Patriot', 'army'), (21, 'Total', None, 'Total', 5, 1, 'Army', 'Army West Point', 'vs', '04', '13', 'Patriot', 'army'), (7, 'GAB HARCHELROAD', None, 'GK', 4, 1, 'Navy', 'Army West Point', 'vs', '04', '13', 'Patriot', 'army'), (0, 'ANNIE MALONEY', None, None, 0, 1, 'Navy', 'Army West Point', 'vs', '04', '13', 'Patriot', 'army'), (1, 'ABBI YOUNG', None, None, 0, 1, 'Navy', 'Army West Point', 'vs', '04', '13', 'Patriot', 'army'), (8, 'Total', None, 'Total', 4, 1, 'Navy', 'Army West Point', 'vs', '04', '13', 'Patriot', 'army'), (20, 'MADDIE BURNS', None, 'G', 13, 2, 'Army', 'Army West Point', 'vs', '05', '02', 'Patriot', 'army'), (20, 'Total', None, 'Total', 13, 2, 'Army', 'Army West Point', 'vs', '05', '02', 'Patriot', 'army'), (10, 'GAB HARCHELROAD', None, 'G', 6, 2, 'Navy', 'Army West Point', 'vs', '05', '02', 'Patriot', 'army'), (0, 'ANNIE MALONEY', None, None, 0, 2, 'Navy', 'Army West Point', 'vs', '05', '02', 'Patriot', 'army'), (10, 'Total', None, 'Total', 6, 2, 'Navy', 'Army West Point', 'vs', '05', '02', 'Patriot', 'army'), (5, 'ABBEY NGAI', None, 'GK', 12, 3, 'Boston College', 'Boston College', 'vs', '03', '06', 'ACC', 'boston-college'), (5, 'Total', None, 'Total', 12, 3, 'Boston College', 'Boston College', 'vs', '03', '06', 'ACC', 'boston-college'), (16, 'GAB HARCHELROAD', None, 'GK', 10, 3, 'Navy', 'Boston College', 'vs', '03', '06', 'ACC', 'boston-college'), (2, 'ABBI YOUNG', None, None, 0, 3, 'Navy', 'Boston College', 'vs', '03', '06', 'ACC', 'boston-college'), (18, 'Total', None, 'Total', 10, 3, 'Navy', 'Boston College', 'vs', '03', '06', 'ACC', 'boston-college'), (12, 'GAB HARCHELROAD', None, 'GK', 6, 4, 'Navy', 'Boston University', 'at', '04', '25', 'Patriot', 'boston-u'), (12, 'Total', None, 'Total', 6, 4, 'Navy', 'Boston University', 'at', '04', '25', 'Patriot', 'boston-u'), (10, 'BIANCA SMITH', None, 'GK', 4, 4, 'Boston U.', 'Boston University', 'at', '04', '25', 'Patriot', 'boston-u'), (3, 'KENNADY SMITH', None, None, 5, 4, 'Boston U.', 'Boston University', 'at', '04', '25', 'Patriot', 'boston-u'), (13, 'Total', None, 'Total', 9, 4, 'Boston U.', 'Boston University', 'at', '04', '25', 'Patriot', 'boston-u'), (18, 'ERIN TUCKER', None, 'GK', 10, 5, 'Brown', 'Brown', 'vs', '03', '09', 'Ivy League', 'brown'), (18, 'Total', None, 'Total', 10, 5, 'Brown', 'Brown', 'vs', '03', '09', 'Ivy League', 'brown'), (10, 'GAB HARCHELROAD', None, 'GK', 5, 5, 'Navy', 'Brown', 'vs', '03', '09', 'Ivy League', 'brown'), (2, 'ABBI YOUNG', None, None, 2, 5, 'Navy', 'Brown', 'vs', '03', '09', 'Ivy League', 'brown'), (12, 'Total', None, 'Total', 7, 5, 'Navy', 'Brown', 'vs', '03', '09', 'Ivy League', 'brown'), (17, 'JAMIE DEWITT', None, 'GK', 15, 6, 'Bucknell', 'Bucknell', 'vs', '03', '23', 'Patriot', 'bucknell'), (17, 'Total', None, 'Total', 15, 6, 'Bucknell', 'Bucknell', 'vs', '03', '23', 'Patriot', 'bucknell'), (2, 'GAB HARCHELROAD', None, 'GK', 2, 6, 'Navy', 'Bucknell', 'vs', '03', '23', 'Patriot', 'bucknell'), (1, 'LINDSEY ELLISON', None, None, 0, 6, 'Navy', 'Bucknell', 'vs', '03', '23', 'Patriot', 'bucknell'), (1, 'MADDY BELL', None, None, 0, 6, 'Navy', 'Bucknell', 'vs', '03', '23', 'Patriot', 'bucknell'), (0, 'ABBI YOUNG', None, None, 2, 6, 'Navy', 'Bucknell', 'vs', '03', '23', 'Patriot', 'bucknell'), (4, 'Total', None, 'Total', 4, 6, 'Navy', 'Bucknell', 'vs', '03', '23', 'Patriot', 'bucknell'), (5, 'GAB HARCHELROAD', None, 'GK', 4, 7, 'Navy', 'Colgate', 'at', '03', '16', 'Patriot', 'colgate'), (0, 'LINDSEY ELLISON', None, None, 1, 7, 'Navy', 'Colgate', 'at', '03', '16', 'Patriot', 'colgate'), (0, 'MADDY BELL', None, None, 0, 7, 'Navy', 'Colgate', 'at', '03', '16', 'Patriot', 'colgate'), (1, 'ABBI YOUNG', None, None, 1, 7, 'Navy', 'Colgate', 'at', '03', '16', 'Patriot', 'colgate'), (6, 'Total', None, 'Total', 6, 7, 'Navy', 'Colgate', 'at', '03', '16', 'Patriot', 'colgate'), (18, 'SAMANTHA CROSTON', None, 'GK', 12, 7, 'Colgate', 'Colgate', 'at', '03', '16', 'Patriot', 'colgate'), (18, 'Total', None, 'Total', 12, 7, 'Colgate', 'Colgate', 'at', '03', '16', 'Patriot', 'colgate'), (14, 'HALEY HICKLEN', None, 'GK', 8, 8, 'Florida', 'Florida', 'vs', '03', '02', 'AAC', 'florida'), (14, 'Total', None, 'Total', 8, 8, 'Florida', 'Florida', 'vs', '03', '02', 'AAC', 'florida'), (10, 'GAB HARCHELROAD', None, 'GK', 8, 8, 'Navy', 'Florida', 'vs', '03', '02', 'AAC', 'florida'), (3, 'ABBI YOUNG', None, None, 4, 8, 'Navy', 'Florida', 'vs', '03', '02', 'AAC', 'florida'), (13, 'Total', None, 'Total', 12, 8, 'Navy', 'Florida', 'vs', '03', '02', 'AAC', 'florida'), (9, 'GAB HARCHELROAD', None, 'GK', 9, 9, 'Navy', 'Georgetown', 'at', '04', '10', 'Big East', 'georgetown'), (9, 'Total', None, 'Total', 9, 9, 'Navy', 'Georgetown', 'at', '04', '10', 'Big East', 'georgetown'), (16, 'HAELLE CHOMO', None, 'GK', 6, 9, 'Georgetown', 'Georgetown', 'at', '04', '10', 'Big East', 'georgetown'), (16, 'Total', None, 'Total', 6, 9, 'Georgetown', 'Georgetown', 'at', '04', '10', 'Big East', 'georgetown'), (12, 'JULIANA KUBLER', None, 'GK', 7, 10, 'Holy Cross', 'High Point', 'vs', '05', '10', 'Big South', 'high-point'), (10, 'SOPHIE OCHS', None, None, 5, 10, 'Holy Cross', 'High Point', 'vs', '05', '10', 'Big South', 'high-point'), (22, 'Total', None, 'Total', 12, 10, 'Holy Cross', 'High Point', 'vs', '05', '10', 'Big South', 'high-point'), (3, 'GAB HARCHELROAD', None, 'GK', 5, 10, 'Navy', 'High Point', 'vs', '05', '10', 'Big South', 'high-point'), (2, 'LINDSEY ELLISON', None, None, 1, 10, 'Navy', 'High Point', 'vs', '05', '10', 'Big South', 'high-point'), (1, 'MADDY BELL', None, None, 0, 10, 'Navy', 'High Point', 'vs', '05', '10', 'Big South', 'high-point'), (0, 'ABBI YOUNG', None, None, 0, 10, 'Navy', 'High Point', 'vs', '05', '10', 'Big South', 'high-point'), (6, 'Total', None, 'Total', 6, 10, 'Navy', 'High Point', 'vs', '05', '10', 'Big South', 'high-point'), (15, 'QUINN LACY', None, 'GK', 9, 11, 'Lafayette', 'Holy Cross', 'vs', '03', '30', 'Patriot', 'holy-cross'), (6, 'TAYLOR DANSON', None, None, 5, 11, 'Lafayette', 'Holy Cross', 'vs', '03', '30', 'Patriot', 'holy-cross'), (21, 'Total', None, 'Total', 14, 11, 'Lafayette', 'Holy Cross', 'vs', '03', '30', 'Patriot', 'holy-cross'), (3, 'GAB HARCHELROAD', None, 'GK', 3, 11, 'Navy', 'Holy Cross', 'vs', '03', '30', 'Patriot', 'holy-cross'), (2, 'ANNIE MALONEY', None, None, 1, 11, 'Navy', 'Holy Cross', 'vs', '03', '30', 'Patriot', 'holy-cross'), (0, 'MADDY BELL', None, None, 0, 11, 'Navy', 'Holy Cross', 'vs', '03', '30', 'Patriot', 'holy-cross'), (0, 'ABBI YOUNG', None, None, 0, 11, 'Navy', 'Holy Cross', 'vs', '03', '30', 'Patriot', 'holy-cross'), (5, 'Total', None, 'Total', 4, 11, 'Navy', 'Holy Cross', 'vs', '03', '30', 'Patriot', 'holy-cross'), (5, 'GAB HARCHELROAD', None, 'GK', 4, 12, 'Navy', 'Lafayette', 'vs', '04', '20', 'Patriot', 'lafayette'), (0, 'LINDSEY ELLISON', None, None, 0, 12, 'Navy', 'Lafayette', 'vs', '04', '20', 'Patriot', 'lafayette'), (1, 'ABBI YOUNG', None, None, 2, 12, 'Navy', 'Lafayette', 'vs', '04', '20', 'Patriot', 'lafayette'), (6, 'Total', None, 'Total', 6, 12, 'Navy', 'Lafayette', 'vs', '04', '20', 'Patriot', 'lafayette'), (17, 'SAMANTHA SAGI', None, 'GK', 8, 12, 'Lehigh', 'Lafayette', 'vs', '04', '20', 'Patriot', 'lafayette'), (2, 'CLAUDIA HANOVER', None, None, 0, 12, 'Lehigh', 'Lafayette', 'vs', '04', '20', 'Patriot', 'lafayette'), (4, 'KERRY MCHUGH', None, None, 0, 12, 'Lehigh', 'Lafayette', 'vs', '04', '20', 'Patriot', 'lafayette'), (23, 'Total', None, 'Total', 8, 12, 'Lehigh', 'Lafayette', 'vs', '04', '20', 'Patriot', 'lafayette'), (13, 'GAB HARCHELROAD', None, 'G', 2, 13, 'Navy', 'Lehigh', 'at', '03', '27', 'Patriot', 'lehigh'), (3, 'ABBI YOUNG', None, None, 0, 13, 'Navy', 'Lehigh', 'at', '03', '27', 'Patriot', 'lehigh'), (16, 'Total', None, 'Total', 2, 13, 'Navy', 'Lehigh', 'at', '03', '27', 'Patriot', 'lehigh'), (6, 'KADY GLYNN', None, 'G', 7, 13, 'Loyola Maryland', 'Lehigh', 'at', '03', '27', 'Patriot', 'lehigh'), (0, 'KAITLYN LARSSON', None, None, 0, 13, 'Loyola Maryland', 'Lehigh', 'at', '03', '27', 'Patriot', 'lehigh'), (6, 'Total', None, 'Total', 7, 13, 'Loyola Maryland', 'Lehigh', 'at', '03', '27', 'Patriot', 'lehigh'), (15, 'GAB HARCHELROAD', None, 'G', 4, 14, 'Navy', 'Loyola', 'at', '04', '06', 'Patriot', 'loyola-maryland'), (6, 'ABBI YOUNG', None, None, 2, 14, 'Navy', 'Loyola', 'at', '04', '06', 'Patriot', 'loyola-maryland'), (21, 'Total', None, 'Total', 6, 14, 'Navy', 'Loyola', 'at', '04', '06', 'Patriot', 'loyola-maryland'), (9, 'KADY GLYNN', None, 'G', 8, 14, 'Loyola Maryland', 'Loyola', 'at', '04', '06', 'Patriot', 'loyola-maryland'), (9, 'Total', None, 'Total', 8, 14, 'Loyola Maryland', 'Loyola', 'at', '04', '06', 'Patriot', 'loyola-maryland'), (12, 'CORINNE BUTTNER', None, 'GK', 16, 15, "Saint Joseph's", 'Loyola', 'at', '05', '04', 'Patriot', 'loyola-maryland'), (12, 'Total', None, 'Total', 16, 15, "Saint Joseph's", 'Loyola', 'at', '05', '04', 'Patriot', 'loyola-maryland'), (11, 'GAB HARCHELROAD', None, 'GK', 9, 15, 'Navy', 'Loyola', 'at', '05', '04', 'Patriot', 'loyola-maryland'), (11, 'Total', None, 'Total', 9, 15, 'Navy', 'Loyola', 'at', '05', '04', 'Patriot', 'loyola-maryland'), (14, 'KILEY KEATING', None, 'GK', 4, 16, 'Towson', "Saint Joseph's", 'vs', '02', '17', 'Atlantic 10', 'saint-josephs'), (14, 'Total', None, 'Total', 4, 16, 'Towson', "Saint Joseph's", 'vs', '02', '17', 'Atlantic 10', 'saint-josephs'), (13, 'GAB HARCHELROAD', None, 'GK', 3, 16, 'Navy', "Saint Joseph's", 'vs', '02', '17', 'Atlantic 10', 'saint-josephs'), (13, 'Total', None, 'Total', 3, 16, 'Navy', "Saint Joseph's", 'vs', '02', '17', 'Atlantic 10', 'saint-josephs'), (5, 'GAB HARCHELROAD', None, 'GK', 5, 17, 'Navy', 'Towson', 'vs', '02', '23', 'CAA', 'towson'), (1, 'ABBI YOUNG', None, None, 0, 17, 'Navy', 'Towson', 'vs', '02', '23', 'CAA', 'towson'), (6, 'Total', None, 'Total', 5, 17, 'Navy', 'Towson', 'vs', '02', '23', 'CAA', 'towson'), (12, 'ALEXA MORO', None, 'GK', 8, 17, 'Villanova', 'Towson', 'vs', '02', '23', 'CAA', 'towson'), (2, 'OLIVIA GONSALVES', None, None, 0, 17, 'Villanova', 'Towson', 'vs', '02', '23', 'CAA', 'towson'), (14, 'Total', None, 'Total', 8, 17, 'Villanova', 'Towson', 'vs', '02', '23', 'CAA', 'towson'), (15, 'GAB HARCHELROAD', None, 'GK', 4, 18, 'Navy', 'Villanova', 'at', '02', '27', 'Big East', 'villanova'), (15, 'Total', None, 'Total', 4, 18, 'Navy', 'Villanova', 'at', '02', '27', 'Big East', 'villanova'), (12, 'CHARLIE CAMPBELL', None, 'GK', 12, 18, 'Virginia', 'Villanova', 'at', '02', '27', 'Big East', 'villanova'), (12, 'Total', None, 'Total', 12, 18, 'Virginia', 'Villanova', 'at', '02', '27', 'Big East', 'villanova')]